<article id="<%= post.layout %>-<%= post.slug %>" class="<%= post.layout %>-<%= post.slug %> post type-post status-publish format-standard hentry">
    <!--<%- partial('post/gallery') %>-->

      <header class="entry-header">
        <% if (post.link || post.title){ %>
        <%- partial('post/title', {class_name: 'article-title'}) %>
        <% } %>
        <!-- <div class="comments-link">
            <% if (post.comments && theme.gitment_shortname){ %>
            <a href="<%- url_for(post.path) %>#comments" class="leave-reply"><%= theme.reply %></a>
            <% } %>
            <a href="javascript:void(0);" data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="leave-reply bdsharebuttonbox" data-cmd="more"><%= theme.share %></a>
        </div> --><!-- .comments-link -->
      </header><!-- .entry-header -->

    <div class="entry-content">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more" class="more-link"><%= theme.excerpt_link %> <span class="meta-nav">→</span></a>
          </p>
        <% } %>
      <% } else { %>
            <!-- Table of Contents -->
              <% if(post.toc == true){ %>
              <div id="toc" class="toc-article">
                <strong class="toc-title">目录</strong>
                <%- toc(post.content,{list_number:false}) %>
              </div>
            <% } %>
        <%- post.content %>
      <% } %>
    </div><!-- .entry-content -->

    <footer class="entry-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
    </footer>
</article>

<% if (!index){ %>
    <%- partial('post/nav') %>
<% } %>

<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"image":{"viewList":["fbook","twi","linkedin","qzone","tsina","douban","weixin","evernotecn"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='/static/api/js/share.js?v=89860593.js?'];</script>

<%- partial('comment') %>
